@import '../../styles/mixins';

.nav {

    width: 70%;
    
    &__list {
        display: flex;
        list-style: none;
        justify-content: space-evenly;
        flex-wrap: wrap;

        @include mobile {
            display: none;
        }

        @include tablet {
            display: flex;
        }

        @include desktop {
            display: flex;
        }

    }

    &__mobile {
        display: flex;
        list-style: none;
        flex-direction: column;

        @include tablet {
            display: none;
        }

        @include desktop {
            display: none;
        }
    }



    &__link {
        text-decoration: none;
        font-size: 1.3rem;
        color: black;
        padding-bottom: 0.5rem;
        cursor: pointer;

        &:hover {
            border-bottom: 2px solid rgb(87, 9, 139);
        }

        &--active {
            border-bottom: 2px solid rgb(87, 9, 139);
        }
    }

    @include mobile {
        width: unset;
    }

    @include tablet {
        display: unset;
        width: 100%;
    }

   
}