@import '../../styles/mixins';

.category-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 4rem;

    &-div {
        margin-top: 5rem;
    }

    .recipe {
        width: 25%;

        @include tablet {
            width: 30%;
        }
    }

    @include mobile {
        flex-direction: column;
        
    }

    @include tablet {
        flex-direction: row;
        margin-left: 2rem;
        margin-top: 10rem;
        align-items: flex-end;
    }
    
}
