@import '../../styles/mixins';

.mobile-nav {

  height: 100%;
  background-color: antiquewhite;
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  max-width: 200px;
  z-index: 100;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;

  &.open{
    transform: translateX(0);
  }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 4rem;
  }

  &__item {
    margin: 0.5rem 0;
  }

  &__link {
    text-decoration: none;
        font-size: 1.2rem;
        color: black;
        cursor: pointer;

        &:hover {
            border-bottom: 2px solid rgb(87, 9, 139);
        }

        &--active {
            border-bottom: 2px solid rgb(87, 9, 139);
        }
  }

  @include tablet {
    display: none;
  }

  @include laptop {
    display: none;
  }

}
