@import '../../styles/mixins';

.uploaded-recipes {
    margin-top: 5rem;
    margin-left: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .recipe {
        width: 25%;

        @include tablet {
            width: 30%;
        }
    }

    @include mobile {
        flex-direction: column;
    }

    @include tablet {
        flex-direction: row;
        align-items: flex-end;
        margin-top: 10rem;
    }

}