.cuisine {
    height: 10rem;
    background-color: lightgray;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    width: 20%;
    margin-right: 1rem;
}