@import '../../styles/mixins';

.recipe-details {
    
    margin-top: 4rem;

    &__title-image{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 1rem;
    }

    &__title {
        text-align: center;

    }
    
    &__image {
        height: 20rem;
        border-radius: 5px;
    }

    &__image-placeholder{
        height: 20rem;
        width: 20rem;
        background-color: lightgray;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    &__subdiv {
        display: flex;
        justify-content: space-between;
        width: 20%;
    }

    &__name {
        color: coral;
    }

    &__ingredients {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        border: 2px solid lightgray;
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-radius: 5px;
        margin: 0 auto;
    }

    &__instructions{
        //needed to maintain whitespacing 
       white-space: pre-line;
       line-height: 1.5;
       width: 90%;
       text-align: justify;
        border: 2px solid lightgray;
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-radius: 5px;
        margin: 0 auto;
        margin-bottom: 2rem;
    }

    &__spacing {
        margin-bottom: 0.5rem;
        margin-right: 1.5rem;
    }

    @include tablet {
        margin-top: 10rem;
    }

    
}