@import '../../styles/mixins';

.categories{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 5rem;
    margin-left: 4rem;

    @include mobile {
        flex-direction: column;
    }

    @include tablet {
        flex-direction: row;
        margin-left: 1rem;
    }
}