.category {

    &__link {
        text-decoration: none;
        color: coral;
        font-family: sans-serif;
    }

    &__image {
        &:hover {
            border: 3px solid rgb(236, 78, 78);
        }
    }
}