.mycarousel {
    > .slick-prev {

        &:before {
            color: red;
        }

        &:hover:before{
            color: black;
        }

        left: -50px;
    }

    > .slick-next {
        &:before {
            color: red;
        }

        &:hover:before{
            color: black;
        }

        right: 100px;

    }
}



