@import '../../styles/mixins';

.mycarousel {
    > .slick-prev {

        &:before {
            color: red;
        }

        &:hover:before{
            color: black;
        }

        left: -50px;

       
    }

    > .slick-next {
        &:before {
            color: red;
        }

        &:hover:before{
            color: black;
        }


        @include mobile-s {
            right: 20px;   
        }

        @include mobile-m {
            right: 60px;
        }

        @include mobile-l {
            right: 100px ;
        }

        @include laptop {
            right: 10px;
        }

        @include desktop {
            right: 120px;
        }

    }
}



