//unfortunately still cant see arrows
.mycarousel.slick-prev {
    color: red !important;
    background-color: red !important;
    left: 50px !important;
}

.mycarousel.slick-next {
    color: red;
}