.header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #FBEA1F;
    border-radius: 0.5rem;
    
    &__logo {
        padding-left: 1rem;
    }

}