@import '../../styles/mixins';

.header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #FBEA1F;
    border-radius: 0.5rem;
    //making navbar as fixed
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    &__logo {
        padding-left: 1rem;
        text-decoration: none;
        color: rgb(42, 3, 104);
        font-size: x-large;
        font-weight: bold;
    }

    @include tablet {
        padding-top: 1rem;
        flex-direction: column;
    }

}