.recipe {

    margin-bottom: 2rem;
    font-family: sans-serif;

    &__link {
        text-decoration: none;
        color: black;
    }

    &__name {
        margin: 0;
        color: coral;
    }

    &__image {
        height: 12.5rem;
        border-radius: 5px;
        width: 12.5rem;

        &:hover {
            border: 3px solid rgb(236, 78, 78);
        }
    }

    &__image-placeholder{
        height: 12.5rem;
        width: 12.5rem;
        background-color: lightgray;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__subdiv {
        display: flex;
        justify-content: space-between;
        width: 12.5rem;
    }
}