.recipe {

    // width: 25%;
    margin-bottom: 2rem;

    &__link {
        text-decoration: none;
        color: black;
    }

    &__name {
        margin: 0;
    }

    &__image {
        height: 12.5rem;
    }

    &__subdiv {
        display: flex;
        justify-content: space-between;
        width: 12.5rem;
    }
}